.chat {
	background: #fff;
	width: 100%;
	max-width: 1000px;
	height: 600px;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;

	.sidebar {
		max-width: 200px;
		height: 100%;
		background: #3f3f56;
		width: 20%;
		min-width: 150px;

		h1 {
			padding: 16px 20px;
			height: 45px;
			font-size: 10px;
			color: #fff;
			letter-spacing: 1px;
			background: #2f2f44;
			text-align: center;
		}

		ul {
			height: calc(100% - 45px);
			overflow: hidden auto;
		}
	}
}

.chat-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	.chat-messages {
		flex-grow: 1;
		padding: 20px;
		border-bottom: 1px solid #80808024;
		background: #adadad12;
		display: flex;
		flex-direction: column;
		overflow: hidden auto;
	}

	.chat-actions {
		height: 50px;
		padding: 0 20px;

		form {
			display: flex;
			align-items: center;
			height: 100%;
			width: 100%;

			input {
				font-family: inherit;
				border: 0 !important;
				flex-grow: 1;
				height: 100%;
				outline: 0;
				padding-right: 20px;

				&:focus {
					border: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
	}
}
