.sidebar {
	max-width: 200px;
	height: 100%;
	background: #3f3f56;
	width: 20%;
	min-width: 150px;
	display: flex;
	flex-direction: column;

	h1 {
		padding: 16px 20px;
		height: 45px;
		font-size: 10px;
		color: #fff;
		letter-spacing: 1px;
		background: #2f2f44;
		text-align: center;
	}

	ul {
		height: calc(100% - 45px);
		overflow: hidden auto;
	}

	.add-user {
		display: flex;
		padding: 10px;
		outline: none;
		text-decoration: none;
		align-items: center;
		color: #ffffff5e;
		font-size: 10px;
		transition: all 0.5s;

		&:hover {
			background: #4d4d65;
			transform: scale(1.01);

			i,
			span {
				color: #ffffffcf;
			}
		}

		i {
			font-size: 20px;
			margin: 5px;
			width: 25px;
			text-align: center;
			transition: inherit;
		}
		span {
			padding-left: 10px;
			transition: inherit;
		}
	}
}

@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
	}
}
