* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Spartan";
	src: url("./fonts/Spartan-Regular.ttf") format("truetype");
}

body {
	font-family: "Spartan" !important;
}
